In [1]:
# переходим к SQL через Питон
# для этого понадобится библиотека sqlite3

# научимся генерировать базу данных, а после поработаем с ней
# будем делать базу данных магазина мебели,
# которая состоит из товарной и пользовательской баз данных 

# файл будет с расширением db, к нему мы будем подключаться после создания
# можно сделать в формате Эксель файла (до 1 000 000 записей)

In [2]:
# далее импорты, которые помогут генерировать данные,
# и tkinter для построения оконного приложения, 
# через которое можно будет обращаться к БД и получать табличные данные в ответ

In [3]:
import sqlite3

import random
import names
import datetime

from tkinter import *
import tkinter.ttk as ttk

In [4]:
# применим функцию Коннект из sqlite3
# в аргументацию передадим строку с названием базы и вызывем переменную

# если базы данных нет, то она создастся, а если есть, откроется

In [5]:
conn = sqlite3.connect('furniture_store.db')
conn

In [6]:
# чтобы выполнять операторы SQL и получать результаты SQL-запросов, нам понадобится курсор базы данных
# вызовем conn.cursor(), чтобы создать курсор
# соединение и курсор - это обязательные действия в sqlite3 при начале работы

In [7]:
cursor = conn.cursor()

In [8]:
# дальнейшие действия (в 99% случаев) будут происходить как применение метода execute к Курсору
# а execute будет получать строки SQL кода

# это будет происходить со всеми операциями - создание, удаление и т.д.

# запросы будут передаваться в виде многострочной строки, запросы в формате SQL
# создадим переменную и сделаем запрос на создание таблицы

In [9]:
# CREATE TABLE - оператор, который создает таблицу
# IF NOT EXISTS - создать таблицу, если ее нет
# furniture_invetory - указываем название таблицы
# CREATE TABLE IF NOT EXISTS furniture_invetory

# далее надо создать столбцы и определить тип данных, который там будет
# данные передаются в круглых скобках - (...), колонки разделяются запятой
# product_id - числовой тип данных и эта колонка будет первичным ключом, она будет ключом для связи с другими таблицами !!!
# product_name - текст
# category - текст
# price - дробное число, десятичное число с максимальной общей точностью 10 цифр,
# два (2) из них после запятой и восемь (8) перед ней
# quantity - кол-во мебели

In [10]:
sql_code = """
CREATE TABLE IF NOT EXISTS furniture_invetory (
product_id INTEGER PRIMARY KEY, 
brand_name TEXT,
category TEXT,
price DECIMAL(10, 2),
quantity INTEGER
)
"""

In [11]:
# передадим эти данные execute, который применим к cursor, и сделаем вызов
# Курсор выполняет запрос SQL

In [12]:
cursor.execute(sql_code)

In [13]:
# пока в таблице есть только названия колонок
# нам надо ее наполнить

In [14]:
# создадим категории и бренды мебели

In [15]:
categories = ['стол',
              'стул',
              'шкаф',
              'кресло',
              'тумбочка']

brands = ['IKEA',
          'Ashley HomeStore',
          'Restoration Hardware',
          'Kartell',
          'Williams-Sonoma',
          'La-Z-Boy Furniture Galleries',
          'Raymour & Flanigan',
          'Delo',
          'Habitat',
          'Простые вещи',
          'SKDESIGN',
          'Eburet',
          'Приличные диваны',
          'Pro Kresla',
          'Mishkin les',
          'Woodi Furniture']

In [16]:
# будем делать в таблице 150 записей за счет цикла, которые пойдут в таблицу про мебель
# в цикле на ходу генерируем данные

# brand_name - брэнд мебели будем брать из спика brand и выбирать случайное значение через random.choice
# category - случайный выбор из переменной categories через random.choice
# price - случайная цена от 100 до 1500 условных единиц, дробные числа
# для генерации дробных данных надо использовать random.uniform
# quantity - кол-во единиц мебели, случайное число от 1 до 30 через random.randint

# готовим запрос (request) через многострочную строку
# INSERT INTO - вставить в
# вставляем в таблицу furniture_invetory
# далее в круглых скобках перечисляем названия колонок, они у нас были созданы ранее
# product_id и PRIMARY KEY будет формироваться автоматически

# далее VALUES, что-то типа Ф Строки, в которой находятся знаки вопроса, это альтернатива Плэйсхолдеров в sqlite3,
# их кол-во соответствует кол-ву колонок, куда вставляем данные, это обязательно

# далее cursor.execute
# передаем ему запрос и названия колонок для заполнения
# execute добавляет по одной записи, поэтому мы делаем это через цикл, это важный момент
# во втором проекте будет использоваться альтернатива методу cursor.execute

In [17]:
for i in range(150):
    
    brand_name = random.choice(brands)
    category = random.choice(categories) 
    price = round(random.uniform(100, 1500), 2)
    quantity = random.randint(1, 30)
    
    request = """
    INSERT INTO furniture_invetory (brand_name, category, price, quantity)
    VALUES (?, ?, ?, ?)
    """
    
    cursor.execute(request, (brand_name, category, price, quantity))

In [18]:
# сохраним изменения в базе

In [19]:
conn.commit()

In [20]:
# сделаем переменную для другого запроса
# в этом запросе выберем все данные из таблицы
# обязательно использовать точку с запятой после запроса !!!

In [21]:
request_2 = "SELECT * FROM furniture_invetory;"

In [22]:
# берем Курсор и его метод execute, который выполнит запрос (request_2)

In [23]:
cursor.execute(request_2)

In [24]:
# теперь у нас есть цепочка из 150 кортежей по 4 элемента + ключ
# метод fetchall возвращает все строки в виде цепочки картежей

# посмотреть данные мы можем с помощью цикла (он ниже) и через Лист

In [25]:
list(cursor.fetchall())

[(1, 'Habitat', 'кресло', 1426.27, 26),
 (2, 'Mishkin les', 'кресло', 1353.57, 15),
 (3, 'Pro Kresla', 'стол', 662.65, 18),
 (4, 'Raymour & Flanigan', 'стул', 105.21, 9),
 (5, 'IKEA', 'стул', 320.44, 7),
 (6, 'Kartell', 'кресло', 311.73, 26),
 (7, 'Eburet', 'стол', 836.29, 13),
 (8, 'Ashley HomeStore', 'стул', 203.26, 14),
 (9, 'IKEA', 'стул', 401.84, 23),
 (10, 'Eburet', 'стол', 408.42, 9),
 (11, 'Delo', 'стул', 668.97, 1),
 (12, 'La-Z-Boy Furniture Galleries', 'стол', 915.73, 1),
 (13, 'Pro Kresla', 'шкаф', 683.44, 6),
 (14, 'Restoration Hardware', 'тумбочка', 730.74, 28),
 (15, 'Простые вещи', 'шкаф', 330.55, 29),
 (16, 'Restoration Hardware', 'шкаф', 647.11, 7),
 (17, 'IKEA', 'стол', 317.19, 18),
 (18, 'Habitat', 'стул', 742.5, 9),
 (19, 'Delo', 'шкаф', 641.69, 26),
 (20, 'Kartell', 'стул', 1358.44, 2),
 (21, 'Raymour & Flanigan', 'стол', 936.55, 8),
 (22, 'Restoration Hardware', 'стул', 336.74, 10),
 (23, 'Приличные диваны', 'кресло', 1233.65, 15),
 (24, 'Pro Kresla', 'стул', 501.74, 27),
 (25, 'Kartell', 'стул', 349.61, 5),
 (26, 'Eburet', 'кресло', 336.38, 24),
 (27, 'Woodi Furniture', 'стол', 622.07, 11),
 (28, 'Простые вещи', 'тумбочка', 1165.31, 23),
 (29, 'Простые вещи', 'стул', 708.41, 27),
 (30, 'Raymour & Flanigan', 'тумбочка', 736.55, 15),
 (31, 'Williams-Sonoma', 'шкаф', 313.77, 12),
 (32, 'Приличные диваны', 'стул', 299.22, 3),
 (33, 'Kartell', 'шкаф', 433.85, 18),
 (34, 'Restoration Hardware', 'тумбочка', 1497.03, 20),
 (35, 'Ashley HomeStore', 'шкаф', 1025.09, 9),
 (36, 'Mishkin les', 'кресло', 1174.58, 4),
 (37, 'Простые вещи', 'стол', 323.58, 5),
 (38, 'Woodi Furniture', 'шкаф', 970.43, 28),
 (39, 'Kartell', 'стул', 1009.29, 7),
 (40, 'Pro Kresla', 'шкаф', 832.21, 22),
 (41, 'Woodi Furniture', 'тумбочка', 163.25, 20),
 (42, 'Restoration Hardware', 'стол', 1293.1, 23),
 (43, 'Eburet', 'стул', 796.73, 11),
 (44, 'Eburet', 'шкаф', 967.13, 7),
 (45, 'Mishkin les', 'стол', 862.8, 8),
 (46, 'Mishkin les', 'тумбочка', 203.58, 11),
 (47, 'SKDESIGN', 'кресло', 301.09, 1),
 (48, 'Restoration Hardware', 'кресло', 415.21, 12),
 (49, 'Raymour & Flanigan', 'кресло', 543.93, 6),
 (50, 'Habitat', 'кресло', 1137.82, 17),
 (51, 'Простые вещи', 'стул', 220.23, 2),
 (52, 'Kartell', 'тумбочка', 1319.64, 25),
 (53, 'IKEA', 'тумбочка', 301.87, 27),
 (54, 'Williams-Sonoma', 'шкаф', 174.48, 3),
 (55, 'Raymour & Flanigan', 'стул', 1036.8, 9),
 (56, 'La-Z-Boy Furniture Galleries', 'стол', 911.97, 25),
 (57, 'IKEA', 'кресло', 1490.44, 18),
 (58, 'Woodi Furniture', 'стул', 397.4, 24),
 (59, 'La-Z-Boy Furniture Galleries', 'стул', 971.51, 28),
 (60, 'Delo', 'кресло', 458.43, 17),
 (61, 'La-Z-Boy Furniture Galleries', 'кресло', 261.48, 12),
 (62, 'Williams-Sonoma', 'шкаф', 1407.47, 12),
 (63, 'Woodi Furniture', 'шкаф', 1470.71, 1),
 (64, 'Mishkin les', 'шкаф', 585.36, 8),
 (65, 'SKDESIGN', 'шкаф', 793.66, 26),
 (66, 'Raymour & Flanigan', 'кресло', 1466.02, 13),
 (67, 'Habitat', 'стул', 546.21, 19),
 (68, 'Williams-Sonoma', 'стул', 489.72, 20),
 (69, 'IKEA', 'стул', 1329.94, 5),
 (70, 'IKEA', 'шкаф', 278.17, 5),
 (71, 'Простые вещи', 'шкаф', 1111.58, 19),
 (72, 'Delo', 'кресло', 444.62, 15),
 (73, 'Delo', 'стул', 1103.97, 11),
 (74, 'Habitat', 'кресло', 331.53, 5),
 (75, 'Mishkin les', 'стол', 155.25, 10),
 (76, 'SKDESIGN', 'стул', 1287.05, 15),
 (77, 'Eburet', 'стол', 650.8, 23),
 (78, 'La-Z-Boy Furniture Galleries', 'кресло', 459.78, 23),
 (79, 'SKDESIGN', 'шкаф', 368.84, 9),
 (80, 'Приличные диваны', 'стул', 1182.09, 9),
 (81, 'Raymour & Flanigan', 'шкаф', 781.59, 5),
 (82, 'Eburet', 'шкаф', 866.56, 18),
 (83, 'IKEA', 'стул', 575.66, 19),
 (84, 'SKDESIGN', 'шкаф', 1217.12, 2),
 (85, 'Kartell', 'стул', 577.68, 18),
 (86, 'Restoration Hardware', 'стул', 1345.46, 25),
 (87, 'Habitat', 'кресло', 776.38, 24),
 (88, 'Raymour & Flanigan', 'кресло', 816.04, 6),
 (89, 'Простые вещи', 'стул', 817.23, 8),
 (90, 'IKEA', 'шкаф', 876.46, 15),
 (91, 'Mishkin les', 'стул', 177.14, 24),
 (92, 'Raymour & Flanigan', 'тумбочка', 783.97, 2),
 (93, 'Restoration Hardware', 'стол', 1215.23, 17),
 (94, 'Raymour & Flanigan', 'шкаф', 330.71, 9),
 (95, 'Kartell', 'стул', 239.7, 2),
 (96, 'Delo', 'стул', 775.78, 16),
 (97, 'IKEA', 'тумбочка', 711.49, 24),
 (98, 'SKDESIGN', 'стул', 404.14, 26),
 (99, 'IKEA', 'кресло', 669.86, 7),
 (100, 'Woodi Furniture', 'стул', 441.54, 8),
 (101, 'Ashley HomeStore', 'стул', 1491.56, 10),
 (102, 'Mishkin les', 'стол', 879.05, 13),
 (103, 'Приличные диваны', 'шкаф', 647.48, 24),
 (104, 'SKDESIGN', 'кресло', 446.57, 17),
 (105, 'Простые вещи', 'шкаф', 339.59, 25),
 (106, 'Woodi Furniture', 'стол', 1006.9, 13),
 (107, 'Woodi Furniture', 'шкаф', 515.61, 4),
 (108, 'Delo', 'шкаф', 729.72, 27),
 (109, 'Delo', 'стул', 1031.2, 25),
 (110, 'Mishkin les', 'стул', 215.14, 13),
 (111, 'Williams-Sonoma', 'стул', 986.36, 8),
 (112, 'Mishkin les', 'кресло', 945.56, 18),
 (113, 'La-Z-Boy Furniture Galleries', 'шкаф', 1490.5, 25),
 (114, 'Woodi Furniture', 'тумбочка', 118.95, 26),
 (115, 'Eburet', 'стол', 585.25, 22),
 (116, 'Restoration Hardware', 'тумбочка', 676.01, 27),
 (117, 'Delo', 'кресло', 1454.75, 13),
 (118, 'Простые вещи', 'кресло', 216.78, 6),
 (119, 'Mishkin les', 'тумбочка', 946.17, 10),
 (120, 'Приличные диваны', 'кресло', 1343.18, 4),
 (121, 'La-Z-Boy Furniture Galleries', 'стол', 352.16, 7),
 (122, 'IKEA', 'кресло', 1204.4, 16),
 (123, 'Habitat', 'стул', 746.87, 7),
 (124, 'Приличные диваны', 'стол', 1230.39, 30),
 (125, 'Приличные диваны', 'тумбочка', 976.66, 2),
 (126, 'Woodi Furniture', 'тумбочка', 1470.71, 29),
 (127, 'Mishkin les', 'шкаф', 1384.23, 13),
 (128, 'Raymour & Flanigan', 'стул', 862.51, 18),
 (129, 'La-Z-Boy Furniture Galleries', 'тумбочка', 1095.82, 22),
 (130, 'La-Z-Boy Furniture Galleries', 'тумбочка', 656.65, 4),
 (131, 'La-Z-Boy Furniture Galleries', 'шкаф', 524.43, 22),
 (132, 'Kartell', 'тумбочка', 1300.08, 1),
 (133, 'Простые вещи', 'стул', 821.85, 25),
 (134, 'Приличные диваны', 'тумбочка', 1000.22, 17),
 (135, 'Woodi Furniture', 'стул', 1271.55, 14),
 (136, 'Williams-Sonoma', 'шкаф', 509.95, 11),
 (137, 'Eburet', 'тумбочка', 853.12, 11),
 (138, 'Kartell', 'тумбочка', 1310.49, 11),
 (139, 'Mishkin les', 'шкаф', 836.24, 14),
 (140, 'Pro Kresla', 'шкаф', 879.29, 8),
 (141, 'Restoration Hardware', 'тумбочка', 112.54, 7),
 (142, 'Delo', 'шкаф', 671.15, 16),
 (143, 'Delo', 'шкаф', 833.19, 12),
 (144, 'Pro Kresla', 'тумбочка', 905.45, 29),
 (145, 'Mishkin les', 'стол', 109.69, 26),
 (146, 'Williams-Sonoma', 'кресло', 295.57, 25),
 (147, 'IKEA', 'тумбочка', 852.91, 3),
 (148, 'Ashley HomeStore', 'тумбочка', 927.3, 3),
 (149, 'Pro Kresla', 'стол', 605.41, 30),
 (150, 'Williams-Sonoma', 'шкаф', 283.37, 8)]

In [26]:
# можно посмотреть fetchall через цикл
# 2 раза подряд fetchall не запустишь, так как после первого запуска виртуальный курсор спускается вниз и показывать нечего !!!

In [27]:
# создадим еще одну таблицу, в которой будет информация о пользователях
# в колонках будут все виды данных

# создаём переменную sql_code_2, в которую поместим запрос на создание таблицы

In [28]:
sql_code_2 = """
CREATE TABLE IF NOT EXISTS users_registrate (
id INTEGER PRIMARY KEY, 
name TEXT,
date DATETIME,
subscription BOOL,
age INTEGER,
customer_rating DECIMAL(10,2)
)
"""

In [29]:
cursor.execute(sql_code_2)

In [30]:
# сделаем цикл для второй таблицы, который будет генерить в нее данные
# аналогия прошлого цикла

# имя - генерим рандомное ФИО с помощью библиотеки names - это будут строки
# дата регистрации на сайте/в приложении - с 2020 года + до 4х лет и 1 дня 
# генерим рандомное с помощью библиотеки datetime и random.randint
# формат - 2022-07-08 10:29:38 - год, месяц, дата, точное время
# наличие подписки - булевый тип - да или нет
# возраст - генерим рандомно в диапазоне random.randint(18, 80) - целые числа
# рейтинг покупателя - дробное число - генерим с помощью random.uniform, от 0 до 5, 
# округляем с помощью функции round, 2 знака после запятой

# далее SQL запрос + VALUES по кол-ву колонок

# далее исполняем через cursor.execute

In [31]:
for i in range(300):

    name = names.get_full_name()
    date = datetime.datetime(2020,1,1) + datetime.timedelta(days = random.randint(0,1460),seconds = random.randint(0, 86400))
    subscription = random.choice([True,False])
    age = random.randint(18, 80)
    customer_rating = round(random.uniform(0,5),2)

    request = """
    INSERT INTO users_registrate (name, date, subscription, age, customer_rating)
    VALUES (?, ?, ?, ?, ?)
    """
    
    cursor.execute(request, (name, date, subscription, age, customer_rating))

In [32]:
# получим все данные из второй таблицы, всё корректно

In [33]:
request_3 = "SELECT * FROM users_registrate;"

In [34]:
cursor.execute(request_3)

In [35]:
list(cursor.fetchall())

[(1, 'Sandy Parm', '2020-02-24 16:44:22', 1, 22, 3.17),
 (2, 'Ronald Parker', '2022-01-11 14:55:24', 0, 69, 4.05),
 (3, 'Evie Perkins', '2023-09-17 17:14:04', 0, 30, 2.04),
 (4, 'Martha Rauch', '2023-12-18 04:40:58', 0, 36, 4.05),
 (5, 'Matthew Laramie', '2021-11-18 09:29:39', 1, 75, 4.63),
 (6, 'Crystal Flight', '2020-05-24 21:52:23', 1, 31, 3.82),
 (7, 'Janet Sandoval', '2020-11-20 05:07:47', 1, 42, 4.38),
 (8, 'John Crawford', '2020-01-06 16:12:00', 1, 40, 2.11),
 (9, 'Chung Garcia', '2022-06-21 02:31:15', 1, 19, 4.88),
 (10, 'Ola Maier', '2023-05-30 17:45:47', 0, 58, 0.49),
 (11, 'Mary White', '2023-05-14 01:15:17', 1, 28, 4.86),
 (12, 'Richard Yoo', '2023-10-01 11:57:29', 0, 34, 4.2),
 (13, 'Roscoe Arnold', '2023-02-01 00:08:58', 1, 79, 1.78),
 (14, 'Sheila Barger', '2023-08-13 02:05:01', 0, 36, 3.66),
 (15, 'Elizabeth Lee', '2021-09-22 02:35:05', 1, 41, 0.73),
 (16, 'Lyla Carstarphen', '2021-07-04 20:35:49', 0, 36, 0.26),
 (17, 'Sandra Walker', '2020-06-10 06:55:58', 0, 22, 2.86),
 (18, 'Catherine Gordon', '2020-09-12 04:59:48', 1, 46, 4.98),
 (19, 'Walter Jaye', '2022-04-23 22:12:24', 0, 67, 3.56),
 (20, 'Violet Freeman', '2023-10-29 09:59:58', 0, 57, 2.5),
 (21, 'Madaline Kirk', '2022-03-14 22:46:18', 1, 42, 0.04),
 (22, 'Sheila Johnson', '2021-02-09 15:09:18', 1, 35, 3.67),
 (23, 'Steve Bryant', '2020-04-26 06:45:22', 1, 80, 2.91),
 (24, 'Ebony Bosley', '2023-10-14 10:15:00', 1, 53, 1.29),
 (25, 'Sharon Sharpe', '2020-03-16 09:42:15', 1, 45, 1.87),
 (26, 'Jennifer Osterman', '2021-04-12 12:49:11', 0, 36, 2.21),
 (27, 'Clarissa Breedlove', '2023-10-27 13:07:37', 0, 45, 4.44),
 (28, 'Elizabeth Griswell', '2021-02-21 17:17:57', 1, 31, 0.33),
 (29, 'Marion Foster', '2021-03-27 09:36:39', 0, 47, 3.24),
 (30, 'Steven Bartholomew', '2022-01-06 21:00:22', 1, 37, 0.47),
 (31, 'Gary Collins', '2021-11-25 01:49:08', 0, 36, 1.35),
 (32, 'Irene Lockhart', '2021-05-17 13:22:43', 0, 24, 0.97),
 (33, 'Laura Lambert', '2023-10-20 07:46:13', 1, 53, 3.92),
 (34, 'Robert Cravens', '2020-03-28 13:21:35', 0, 40, 2.03),
 (35, 'Rosa Hodge', '2022-03-26 18:06:54', 1, 19, 4.8),
 (36, 'Christine Damron', '2020-05-16 08:59:36', 0, 73, 3.95),
 (37, 'Richard Mccoy', '2020-05-13 02:27:28', 1, 22, 1.87),
 (38, 'Cora Evans', '2020-02-24 08:17:01', 0, 78, 3.43),
 (39, 'Denise Alguire', '2020-05-15 20:18:28', 1, 20, 2.97),
 (40, 'Florence Sloan', '2022-05-16 08:32:13', 1, 51, 2.96),
 (41, 'Sherri Hille', '2021-03-02 13:20:45', 1, 49, 1.1),
 (42, 'Betty Dixon', '2020-01-24 07:10:10', 0, 24, 3.96),
 (43, 'Dorathy Houston', '2020-05-26 06:27:00', 0, 21, 0.49),
 (44, 'Jeremy Dawson', '2021-02-19 07:49:37', 0, 53, 2.37),
 (45, 'Kennith Mccard', '2020-11-14 09:01:23', 1, 51, 3.15),
 (46, 'Jenny Weiner', '2020-10-20 08:09:10', 0, 80, 1.25),
 (47, 'Bryon Feenstra', '2021-07-07 05:54:52', 0, 58, 4.29),
 (48, 'Keith Osofsky', '2020-01-31 11:42:24', 0, 59, 3.03),
 (49, 'Luke Lynch', '2020-02-20 04:34:31', 0, 36, 4.56),
 (50, 'Steven Giles', '2021-06-15 12:16:33', 0, 23, 3.12),
 (51, 'Yesenia Easton', '2023-02-23 10:33:58', 0, 69, 0.98),
 (52, 'Micheal Garelik', '2022-03-13 04:26:12', 1, 47, 2.49),
 (53, 'Ruth Oliver', '2021-06-13 09:21:19', 1, 44, 0.9),
 (54, 'Damian Hancock', '2022-01-12 03:05:41', 0, 67, 2.83),
 (55, 'Anthony Sullivan', '2020-07-01 09:39:35', 1, 50, 2.61),
 (56, 'Beth Matta', '2023-07-02 20:11:44', 1, 20, 1.43),
 (57, 'Wendell Sellers', '2020-03-04 01:26:20', 0, 31, 1.31),
 (58, 'Delores Hubbard', '2022-06-03 15:00:38', 0, 64, 4.55),
 (59, 'Suzanne Hendricks', '2023-05-07 20:02:09', 0, 52, 4.02),
 (60, 'Maxine Mcconnell', '2020-04-10 07:36:37', 0, 60, 1.29),
 (61, 'Earl Hess', '2022-01-10 18:13:44', 0, 20, 0.71),
 (62, 'Argelia Perritt', '2020-08-10 16:15:48', 1, 44, 2.01),
 (63, 'Linda Murphy', '2022-10-04 08:14:54', 1, 23, 4.78),
 (64, 'Howard Holland', '2020-08-06 00:21:44', 0, 61, 1.73),
 (65, 'Faith Dickerson', '2023-10-19 07:56:03', 0, 43, 0.99),
 (66, 'Sally Belville', '2021-03-31 08:54:06', 1, 59, 3.12),
 (67, 'Carlos Wilbanks', '2021-04-05 05:04:27', 1, 28, 1.93),
 (68, 'Bernard Jenkins', '2022-08-11 18:55:57', 0, 36, 3.01),
 (69, 'Kylie Gross', '2023-08-13 14:38:20', 0, 39, 4.72),
 (70, 'Jason Fanning', '2020-02-27 23:30:10', 0, 34, 0.05),
 (71, 'Na Landrum', '2022-07-16 04:16:36', 0, 79, 4.51),
 (72, 'Lillian Feist', '2022-06-30 21:02:27', 0, 42, 0.59),
 (73, 'Christine Enck', '2023-08-22 07:38:19', 0, 46, 0.88),
 (74, 'James Kahan', '2023-01-04 02:22:24', 1, 54, 3.79),
 (75, 'Henry Larrivee', '2021-11-30 15:00:37', 0, 72, 4.87),
 (76, 'Michael Keith', '2023-05-10 09:03:24', 1, 52, 3.55),
 (77, 'Dustin Wickstrom', '2020-04-22 04:24:24', 1, 36, 2.86),
 (78, 'Ronnie Munoz', '2021-02-16 23:42:18', 1, 31, 1.55),
 (79, 'Walter Dial', '2020-11-02 21:57:23', 0, 55, 3.68),
 (80, 'Christopher Flores', '2022-12-08 02:06:37', 1, 19, 0.21),
 (81, 'Brad Bookman', '2020-07-28 16:27:43', 0, 50, 2.31),
 (82, 'Richard Allen', '2023-07-31 14:39:50', 1, 45, 3.15),
 (83, 'Shantay Richmond', '2020-07-11 11:36:13', 0, 62, 3.73),
 (84, 'Tara Flenory', '2020-03-15 17:21:37', 1, 67, 4.52),
 (85, 'George Soliz', '2023-08-12 09:30:36', 1, 25, 1.71),
 (86, 'Jamie Mcconnel', '2020-12-05 16:43:06', 1, 57, 0.85),
 (87, 'Herman Warhurst', '2020-09-05 23:34:35', 0, 28, 1.79),
 (88, 'Timmy Jackson', '2021-05-19 05:00:43', 1, 54, 2.97),
 (89, 'Michael Blount', '2022-08-01 15:58:34', 0, 33, 2.7),
 (90, 'Eric Grace', '2020-09-08 03:19:07', 0, 41, 2.87),
 (91, 'Bernard Dunnigan', '2020-03-27 06:36:34', 1, 40, 4.79),
 (92, 'William Robinson', '2022-01-04 22:52:04', 1, 62, 4.14),
 (93, 'Brendan Wooldridge', '2022-05-09 18:45:29', 1, 27, 3.82),
 (94, 'Terry Chirinos', '2021-07-11 00:37:05', 0, 22, 4.83),
 (95, 'Jim Diaz', '2023-04-20 11:10:08', 0, 20, 0.96),
 (96, 'Laurie Roberts', '2022-10-16 12:36:28', 0, 31, 2.58),
 (97, 'Anne Morgan', '2020-01-23 09:15:42', 1, 55, 4.07),
 (98, 'Thomas Chatman', '2023-03-03 16:17:59', 1, 42, 2.81),
 (99, 'Helen Palone', '2021-05-25 03:04:42', 1, 76, 3.13),
 (100, 'Ray Bridges', '2023-10-14 23:27:06', 1, 72, 2.79),
 (101, 'Dennis Martin', '2023-10-26 01:59:01', 0, 39, 1.59),
 (102, 'Jose Stewart', '2021-07-20 09:21:32', 1, 72, 0.08),
 (103, 'Karin Jones', '2021-04-03 11:40:17', 0, 29, 4.79),
 (104, 'Chelsea Bell', '2021-09-21 02:08:28', 1, 42, 4.86),
 (105, 'Kathleen Garcia', '2021-05-25 05:59:14', 1, 34, 4.64),
 (106, 'Christopher Turner', '2020-06-29 06:52:33', 1, 30, 4.97),
 (107, 'Gale White', '2022-09-14 05:39:47', 0, 50, 2),
 (108, 'Sidney Colby', '2021-03-09 14:02:37', 0, 27, 2.18),
 (109, 'Michael Byler', '2021-11-29 15:40:08', 1, 59, 1.03),
 (110, 'Patricia Stoner', '2022-05-09 08:03:51', 1, 29, 1.87),
 (111, 'Inga Fuentes', '2020-04-01 19:46:05', 0, 47, 1.05),
 (112, 'Molly Verdejo', '2022-04-24 03:00:58', 0, 77, 0.5),
 (113, 'Elias Gilman', '2021-03-28 21:14:19', 1, 74, 0.55),
 (114, 'Guy King', '2020-10-24 11:58:56', 0, 71, 1.15),
 (115, 'Allen Fernandez', '2023-08-05 12:50:26', 1, 59, 0.18),
 (116, 'Virginia Katz', '2023-05-24 13:03:56', 1, 29, 3.44),
 (117, 'Jeanne Juelfs', '2023-02-27 02:10:02', 0, 75, 4.83),
 (118, 'Clinton Gipson', '2020-11-26 16:11:45', 0, 44, 0.22),
 (119, 'Karen Ligget', '2020-03-16 22:41:33', 1, 23, 3.3),
 (120, 'Darrell Watson', '2022-11-16 10:55:07', 0, 64, 1.94),
 (121, 'Adam Neal', '2022-12-24 05:51:26', 1, 48, 1.59),
 (122, 'Racheal Slough', '2020-05-19 09:57:34', 0, 19, 1.77),
 (123, 'Kathy Aleman', '2021-11-25 09:57:49', 0, 72, 3.16),
 (124, 'Shirley Benavides', '2020-09-16 00:44:29', 0, 23, 4.33),
 (125, 'William Perez', '2022-08-20 07:04:39', 1, 19, 1.37),
 (126, 'Brian Nichols', '2023-02-08 10:28:04', 0, 21, 0.55),
 (127, 'Willie Garcia', '2021-09-07 02:15:47', 1, 60, 3.96),
 (128, 'Margaret King', '2023-06-18 21:53:43', 0, 43, 3.42),
 (129, 'Justin Conner', '2020-04-26 23:38:46', 1, 40, 1.84),
 (130, 'Michael Tuner', '2022-11-22 16:08:52', 1, 20, 1.64),
 (131, 'Carolyn Yeakley', '2022-05-27 06:51:47', 1, 71, 1.8),
 (132, 'Andrea Wood', '2020-08-08 16:29:08', 0, 52, 1.27),
 (133, 'Karen Price', '2023-01-31 11:34:14', 1, 65, 4.74),
 (134, 'Tim Ryan', '2021-12-31 11:53:05', 0, 52, 0.97),
 (135, 'Betty Clark', '2020-01-25 11:46:31', 0, 75, 0.9),
 (136, 'Delphine Jackson', '2021-05-01 08:59:01', 0, 77, 3.14),
 (137, 'Pauline Danz', '2021-02-01 10:37:11', 1, 57, 4.77),
 (138, 'Beatrice Phillips', '2020-05-04 05:10:32', 1, 19, 4.8),
 (139, 'Diane Crowell', '2022-12-10 16:43:57', 1, 31, 2.16),
 (140, 'James Mcalexander', '2023-12-17 10:19:15', 1, 74, 0),
 (141, 'Barbara Whitney', '2022-02-08 08:30:05', 1, 36, 4.01),
 (142, 'Gregory Elias', '2020-06-24 14:37:53', 0, 50, 3.9),
 (143, 'Margaret Almond', '2023-04-17 13:34:15', 1, 34, 1.27),
 (144, 'Howard Sarmiento', '2021-03-01 22:44:29', 1, 56, 2.08),
 (145, 'Tracy Sacco', '2023-02-09 08:47:07', 1, 36, 3.08),
 (146, 'Sheena Park', '2021-08-16 13:23:14', 0, 39, 0.86),
 (147, 'Nathan Robinson', '2022-08-20 18:27:23', 0, 49, 3.22),
 (148, 'Mia Dunn', '2020-04-29 11:05:22', 0, 23, 0.15),
 (149, 'Dena Noble', '2020-05-03 05:48:38', 0, 21, 4.9),
 (150, 'Andrew Reither', '2021-04-16 08:54:09', 1, 61, 2.86),
 (151, 'Robert Collins', '2022-09-20 06:06:55', 1, 30, 1.63),
 (152, 'Kristen Hyldahl', '2020-01-18 01:40:08', 1, 74, 1.56),
 (153, 'Susan Lohman', '2021-02-25 22:35:32', 1, 50, 4.34),
 (154, 'Joyce Kumro', '2021-10-19 21:47:53', 0, 43, 4.74),
 (155, 'Robert Beddo', '2023-09-05 13:27:40', 1, 32, 0.81),
 (156, 'Elaine Padilla', '2020-04-24 01:12:19', 0, 45, 3.57),
 (157, 'Carla Alvarez', '2021-04-02 01:49:12', 1, 65, 3.27),
 (158, 'Tammy Robley', '2020-04-30 00:18:58', 1, 27, 1.91),
 (159, 'George Hall', '2020-04-04 17:39:48', 1, 74, 0.23),
 (160, 'Mark Jones', '2021-05-04 23:19:47', 0, 18, 0.97),
 (161, 'Adam Shumake', '2021-01-29 20:34:31', 0, 78, 4.21),
 (162, 'Anton Ybarra', '2021-09-09 18:12:35', 0, 48, 2.06),
 (163, 'Deborah Rayner', '2023-10-06 01:57:27', 1, 49, 0.44),
 (164, 'Thomas Park', '2022-07-16 14:14:05', 1, 67, 4.53),
 (165, 'Tammy Saravia', '2022-08-20 13:54:01', 0, 25, 2.18),
 (166, 'Joanne Fox', '2021-10-15 04:10:59', 0, 45, 2.42),
 (167, 'Elizabeth Runions', '2021-05-14 19:56:37', 0, 67, 2.49),
 (168, 'Erin Shaver', '2022-12-30 18:45:24', 1, 39, 0.25),
 (169, 'Bernard Mcdonough', '2022-08-23 08:49:20', 1, 53, 0.17),
 (170, 'Everette Garcia', '2020-02-15 00:37:26', 1, 33, 4.61),
 (171, 'Barbara Deiss', '2020-02-29 04:56:52', 0, 65, 1.7),
 (172, 'Melisa Findlay', '2020-04-10 01:39:49', 0, 19, 4.05),
 (173, 'Ronny Singleton', '2021-12-12 06:34:12', 1, 51, 1.72),
 (174, 'Denis Shuffler', '2023-07-14 16:38:35', 0, 79, 0.36),
 (175, 'Albert Scaggs', '2021-10-25 20:40:18', 0, 21, 2.5),
 (176, 'Miguel Edwards', '2020-04-13 08:30:17', 1, 48, 2.72),
 (177, 'John Lindblad', '2021-11-10 21:03:56', 0, 35, 1.88),
 (178, 'Amber Fuller', '2022-08-09 20:07:16', 0, 57, 2.46),
 (179, 'Beverly Parker', '2022-01-05 20:58:54', 0, 76, 2.54),
 (180, 'Clara Andrew', '2021-01-21 20:01:29', 1, 45, 4.58),
 (181, 'Kathleen Gutierrez', '2021-03-24 18:58:47', 1, 40, 1.29),
 (182, 'Stanley Owen', '2022-01-12 20:57:11', 0, 61, 4.36),
 (183, 'Beatrice Deberry', '2020-12-22 02:56:03', 0, 33, 1.58),
 (184, 'Benjamin Sykes', '2021-11-04 17:23:26', 1, 41, 1.11),
 (185, 'Russel Hayslip', '2020-08-31 17:13:20', 1, 19, 2.76),
 (186, 'Diana Dennis', '2020-06-30 18:43:22', 0, 46, 0.48),
 (187, 'Michael Borghese', '2023-12-23 16:07:03', 1, 30, 2.22),
 (188, 'Millie Cole', '2021-06-17 09:38:09', 1, 41, 1.86),
 (189, 'Sheila Perez', '2022-06-27 04:35:28', 0, 71, 1.63),
 (190, 'Lynn Frederickson', '2020-09-28 19:29:01', 1, 41, 0.59),
 (191, 'Dorothy Lopez', '2020-08-19 11:55:30', 1, 32, 1.54),
 (192, 'Albert Bradley', '2022-11-02 13:43:56', 1, 38, 3.35),
 (193, 'Frank Turner', '2022-12-03 00:46:21', 0, 57, 4.47),
 (194, 'James Mullings', '2023-01-07 22:37:35', 1, 58, 2.47),
 (195, 'Harry Gill', '2021-04-16 22:42:36', 0, 38, 3.7),
 (196, 'Emerson Burt', '2021-06-22 13:19:33', 0, 24, 2.14),
 (197, 'Merrill Graham', '2022-05-20 20:16:32', 1, 40, 3.66),
 (198, 'Maria Mccann', '2021-03-30 13:08:33', 1, 42, 0.6),
 (199, 'Jacqueline Campbell', '2021-02-19 11:57:44', 0, 23, 0.36),
 (200, 'Philip Kennon', '2020-05-19 04:14:13', 1, 46, 2.81),
 (201, 'Denise Sagraves', '2020-06-02 03:40:05', 0, 25, 3.01),
 (202, 'Micheal Cuesta', '2023-05-31 01:34:58', 1, 44, 4.19),
 (203, 'Theresa Castillo', '2022-03-30 04:32:06', 0, 52, 0.96),
 (204, 'William Shear', '2020-03-21 19:58:05', 0, 47, 4.75),
 (205, 'Zachery Mclaughlin', '2021-02-23 04:03:50', 0, 69, 2.73),
 (206, 'Vivian Brush', '2023-08-03 11:22:21', 0, 31, 0.11),
 (207, 'Matthew Beatty', '2023-05-05 07:30:42', 1, 26, 1.77),
 (208, 'Oscar Ray', '2020-01-18 15:44:14', 0, 63, 3.91),
 (209, 'Mary Feinstein', '2020-02-12 21:26:22', 1, 73, 3.64),
 (210, 'Larry Brinegar', '2020-05-21 09:14:47', 1, 42, 3.36),
 (211, 'Thomas Bryant', '2020-02-27 06:27:46', 1, 46, 2.74),
 (212, 'Patrick Pence', '2021-09-11 19:11:21', 1, 38, 3.11),
 (213, 'Jarvis Newton', '2023-01-10 11:14:48', 1, 35, 4.42),
 (214, 'Matthew Snyder', '2020-11-13 01:37:46', 0, 47, 1.22),
 (215, 'Melissa Gallinari', '2023-07-11 23:10:13', 0, 37, 1.04),
 (216, 'Grace Nance', '2022-09-05 01:55:37', 1, 79, 1.28),
 (217, 'Paul Schull', '2023-05-26 10:42:17', 0, 45, 4.28),
 (218, 'David Thomas', '2021-02-02 04:31:35', 0, 39, 3.76),
 (219, 'Jordan Carroll', '2022-04-24 00:27:35', 1, 52, 3.98),
 (220, 'Linda Rainey', '2022-06-20 00:57:46', 1, 46, 3.35),
 (221, 'Peter Loats', '2023-08-28 10:35:32', 1, 77, 1.2),
 (222, 'Christopher Sanders', '2021-03-20 03:42:46', 0, 27, 3.74),
 (223, 'Samantha Jones', '2021-07-20 05:41:45', 0, 22, 0.54),
 (224, 'Ira Mudge', '2023-12-09 02:16:08', 0, 43, 2.1),
 (225, 'Wendy Gillam', '2022-08-29 13:19:01', 1, 26, 2.23),
 (226, 'Troy Nelson', '2022-11-15 09:27:08', 1, 36, 3.47),
 (227, 'Willie Hinnant', '2023-07-16 07:00:49', 0, 58, 2.59),
 (228, 'Terrence Sanchez', '2023-03-06 08:01:47', 1, 30, 3.1),
 (229, 'Marie Filson', '2020-03-31 04:33:08', 0, 46, 2.79),
 (230, 'William Miller', '2020-11-18 18:27:15', 0, 47, 3.85),
 (231, 'Michael Norris', '2021-10-28 04:22:26', 0, 56, 1.31),
 (232, 'Shannon Pederson', '2023-04-28 22:52:22', 1, 34, 1.31),
 (233, 'Paul Newton', '2020-06-05 20:05:39', 0, 24, 2.52),
 (234, 'Roger Ellis', '2020-12-25 06:57:45', 1, 78, 3.99),
 (235, 'George Babel', '2022-03-26 06:32:17', 1, 69, 0.3),
 (236, 'Dominga Vergari', '2023-11-24 12:02:05', 0, 30, 3.55),
 (237, 'James Stafford', '2020-06-24 08:49:17', 0, 36, 4.82),
 (238, 'Edith Dunlap', '2023-04-13 04:25:48', 1, 64, 2.69),
 (239, 'Clare Reich', '2022-07-28 16:23:38', 0, 63, 0.78),
 (240, 'Diana Chance', '2022-01-23 02:12:03', 1, 70, 3.29),
 (241, 'James Jacobs', '2023-06-08 01:19:16', 0, 58, 4.74),
 (242, 'Louise Roy', '2020-02-11 15:27:01', 0, 64, 3.67),
 (243, 'Sharon Wagner', '2023-06-20 14:02:49', 0, 56, 0.11),
 (244, 'Paul Marquez', '2021-06-21 00:12:06', 1, 62, 4.08),
 (245, 'Tonya Warner', '2021-06-14 16:08:34', 0, 38, 4.44),
 (246, 'Hans Scholl', '2023-01-28 00:32:49', 0, 56, 2.44),
 (247, 'Joseph Chandler', '2020-04-03 15:39:40', 1, 63, 4.31),
 (248, 'Scott Lizama', '2023-04-10 09:06:55', 1, 18, 1.65),
 (249, 'Jennifer Smith', '2023-08-05 09:27:29', 1, 37, 0.06),
 (250, 'Cindy Brown', '2020-02-28 13:23:52', 1, 18, 2.81),
 (251, 'Kerry Miller', '2023-06-06 03:50:07', 1, 52, 1.64),
 (252, 'Peter Sanders', '2021-12-16 06:46:53', 1, 59, 0.69),
 (253, 'Perry Baker', '2021-07-14 20:45:12', 0, 78, 2.21),
 (254, 'Margarito Viveiros', '2023-03-22 14:57:11', 1, 44, 2.66),
 (255, 'Howard Duncan', '2022-07-28 01:58:27', 0, 49, 2.08),
 (256, 'Robert Rauh', '2020-05-01 15:17:55', 1, 76, 4.87),
 (257, 'Walter Mills', '2021-05-09 03:42:51', 1, 52, 2.04),
 (258, 'Joe Stiger', '2022-09-20 11:47:55', 1, 38, 4.81),
 (259, 'Allison Lites', '2023-10-15 22:21:46', 0, 31, 5),
 (260, 'James Marinese', '2023-03-13 11:28:17', 0, 41, 3.84),
 (261, 'Donald Miller', '2023-05-19 11:32:40', 0, 39, 0.36),
 (262, 'Kelly Patterson', '2020-03-09 12:09:46', 1, 22, 4.44),
 (263, 'Hisako Oppenheim', '2020-08-30 20:27:59', 1, 32, 2.8),
 (264, 'Antonio Weinman', '2021-01-06 04:45:44', 0, 26, 3.91),
 (265, 'Robin Thibodeaux', '2020-05-22 07:18:56', 1, 72, 1.01),
 (266, 'Charles Coffey', '2021-12-30 13:35:51', 0, 66, 0.69),
 (267, 'Jerome Jennings', '2022-08-03 05:02:53', 0, 76, 0.81),
 (268, 'Kathleen Edmonds', '2021-06-06 22:33:20', 0, 59, 1.46),
 (269, 'Francis Rogers', '2023-03-19 11:08:35', 0, 39, 1.2),
 (270, 'William Ellis', '2022-04-29 19:59:58', 1, 50, 1.57),
 (271, 'Gloria Kurian', '2022-10-16 18:55:59', 1, 20, 1.59),
 (272, 'Eric Simon', '2022-03-25 16:08:06', 0, 73, 1.37),
 (273, 'Larry Huneycutt', '2020-02-29 11:05:17', 1, 58, 1.84),
 (274, 'Fred Todd', '2023-07-11 14:18:07', 1, 69, 3.71),
 (275, 'Karen Bursley', '2023-10-23 21:04:20', 1, 69, 1.25),
 (276, 'Cheryl Rodriguez', '2022-06-09 06:07:36', 1, 35, 3.32),
 (277, 'Kay Patterson', '2020-07-10 10:44:50', 0, 62, 1.4),
 (278, 'Tony Scott', '2022-05-24 23:13:33', 0, 44, 2.2),
 (279, 'Ruth Partida', '2022-10-27 16:23:23', 1, 23, 3.96),
 (280, 'James Rowell', '2022-12-15 05:28:40', 1, 34, 4.19),
 (281, 'Karla Dixon', '2023-08-14 20:30:36', 1, 28, 3.47),
 (282, 'Shawanda Toole', '2022-11-07 11:35:14', 0, 29, 1.09),
 (283, 'Thomas Crabill', '2022-09-06 12:44:49', 1, 79, 0.97),
 (284, 'Ralph Burris', '2021-04-05 23:51:13', 0, 34, 2.84),
 (285, 'Richard Priolean', '2023-11-26 01:40:14', 1, 35, 4.24),
 (286, 'Chery Madonia', '2021-08-10 05:06:37', 1, 35, 4.9),
 (287, 'Richard Elliam', '2022-12-29 05:06:48', 1, 73, 4.93),
 (288, 'Theresa Thomas', '2022-12-03 18:59:36', 1, 76, 2.57),
 (289, 'Chad Hanson', '2023-06-10 19:16:55', 1, 42, 4.53),
 (290, 'Jean Snyder', '2020-06-08 02:52:17', 0, 67, 3.14),
 (291, 'Paul Durham', '2021-12-24 13:11:05', 0, 28, 1.14),
 (292, 'John Wood', '2021-05-23 19:46:57', 1, 18, 4.18),
 (293, 'John Hartman', '2022-11-07 07:21:49', 1, 23, 1.22),
 (294, 'Harry Christie', '2021-10-26 13:21:10', 0, 78, 3.71),
 (295, 'James Luce', '2023-03-17 10:21:52', 1, 49, 1.27),
 (296, 'Michael Luallen', '2020-09-26 02:12:15', 1, 40, 1.23),
 (297, 'William Dennison', '2021-11-23 15:14:22', 0, 68, 4.59),
 (298, 'Peter Mathson', '2023-12-14 17:18:31', 1, 20, 2.23),
 (299, 'Lori Stafford', '2022-05-10 14:48:04', 1, 80, 3.02),
 (300, 'Erick Putman', '2021-11-14 16:06:02', 0, 77, 2.71)]

In [36]:
# подтвердим действия и закроем соединение с базой

In [37]:
conn.commit()
conn.close()

In [38]:
# вторая часть проекта - создание оконного приложения по работе с базой
# взаимодействие с базой и последующая визуализация оформлена через функцию, которая написана до самого приложения
# данное приложение будет работать с таблицей про мебель

In [39]:
# напишем функцию, которая будет визуализировать SQL запрос к созданной БД

# будет работать в связке: Toplevel + ttk.Treeview
# дочернее окно будет появляться, если я буду делать запрос типа SELECT
# Toplevel нам даёт полноценное дочернее окно, которое закроется при закрытии основного

# первым делом функция получает текст из поля, сохраним это в переменную
# request = text.get('1.0','end') - даст весь текст (с первого символа по последний, можно регулировать, если нужно)
# text.get(start, end), если у нас поле ENTRY, аргументация не нужна
# параметр start указывает на начальный символ, а end - на конечный символ, текст между которыми надо получить
# оба параметра в формате "line.colunm", где line - номер строки, а "column" - номер символа. 
# для указания последнего символа применяется константа END

# далее сделаем Принт, чтобы остледить полученный текст, и исправить при необходимости параметры
# далле выполняем запрос - cursor.execute(request)

# мы не можем просто так прописать нужные колонки, так как они могут определяться запросом SQL
# если SELECT в запросе, то делаем еще одну разилку:
# если в запросе SELECT *, то колонки в дочернем окне будут называться - 'index','brand_name','category','price','quantity'
# в остальных случаях будем вычислять набор колонок для отображения

# подготовим базу для отрисовки таблицы

# класс ttk.Treeview - с помощью него можно выводить информацию в иерархической или форме таблицы
# для создания ttk.Treeview с несколькими колонками нужно указать идентификатор каждой с помощью параметра columns
# после этого можно настроить текст заголовка с помощью метода heading()

# следующие значения являются валидными для параметра show:
# tree — отображает колонку #0;
# headings — отображает строку заголовка;
# tree headings — отображает и колонку #0, и строку заголовка (является значением по умолчанию);
# "" — не отображает ни колонку #0, ни строку заголовка

# заполнять данные будем через циклы
# первый цикл заполняет названия колонок
# через table.heading(col, text = col) настриваем названия колонок
# второй цикл по cursor.fetchall(), в котором кортежи из объектов (индекс + колонки)
# вставляем данные через table.insert('', 'end', values = line) - старт, стоп, значения для встаки
# пустая строка, конец, значения из cursor.fetchall()

# размещаем таблицу через table.place

# размер окна и таблицы у нас будет зависеть от кол-ва колонок, вычисление будет автоматическое

# само окно будет немного больше самой таблицы
# добавим прокрутку таблицы

# создадим переменную со Скролбаром (родительский виджет, ориентация скрола, команда при движении - table.yview)
# после создания Скролбара нужен table.config и размещение Скрола, где Икс надо вычислять - x = width - 50

# делаем второй ИФ - if 'SELECT *' in request, то берем все колонки из таблицы
# или нам нужно брать все записи кроме 'SELECT ' и 'FROM' - 1 элемент (перед Фромом пробел), они и будут колонками
# чтобы найти подстроку в строке есть метод Файнд или Индекс, мы будем использовать индекс
# далее columns = кортеж из среза запроса, далее Сплит по запятой с пробелом
# у нас вернется список, который надо превратить в кортеж, следовательно оборачиваем в tuple

# теперь у нас Селект работает как по всем колонкам, так и по выбраным

In [40]:
def SQL_request():
    request = text.get('1.0','end')
    print(request)
    cursor.execute(request)
    
    if 'SELECT' in request:
        if 'SELECT *' in request:
            columns = ('index', 'brand_name', 'category', 'price', 'quantity')
        else:
            start = len('SELECT ')
            stop = request.index('FROM') - 1
            columns = tuple(request[start:stop].split(', '))
            
            
        width = len(columns)*240
        
        root = Toplevel()
        root.title('Визуализатор запроса')
        root.geometry(f"{width}x500")        
        
        table = ttk.Treeview(root, show = 'headings', columns = columns)
        vert_scroll = ttk.Scrollbar(root, orient = 'vertical', command = table.yview)
        table.config(yscrollcommand = vert_scroll.set)
        vert_scroll.place(height = 450, width = 20, y = 10, x = width - 50)
        
        for col in columns:
            table.heading(col, text = col)
        for line in cursor.fetchall():
            table.insert('', 'end', values = line)
        

        table.place(x = 50, y = 10, width = width - 100, height = 450)

In [41]:
# ниже будем реализовывать основное окно и функционал приложения

In [42]:
# класс Text - по умолчанию его размер равен 80-ти знакоместам по горизонтали и 24-м по вертикали
# эти свойства можно изменять с помощью опций width и height
# значение WORD опции wrap позволяет переносить слова на новую строку целиком, а не по буквам (реализовано в основаном окне)

# верхняя кнопка - это подсказка для пользователя
# далее окно ввода и две кнопки - обработка запроса и отключение от базы

# соединение с БД + Курсор прописываем сразу после создания основного окна

# первая кнопка сделана через Лямбда функцию, но лучше сделать через отдельную функцию из-за объемного текста и параметров
# вторая кнопка работает за счет функции SQL_request, которая написана выше
# третьей функции мы сразу отдали conn.close, чтобы завершать соединение после завершения работы

# самое сложное это написать функцию, которая будет работать с SQL запросом и делать доп действия

In [43]:
window = Tk()

window.geometry('800x600')
window.resizable(False, False)
window.wm_attributes('-alpha', 0.96)
window.config(bg = 'gray60')
window.title('База базы данных или "Это база!"')

conn = sqlite3.connect('furniture_store.db')
conn
cursor = conn.cursor()


btn = Button(window, text = 'Нажми на меня, не стесняйся',
             font=('Helvetica', 12, 'bold'),
             
             command = lambda: Label(window, 
             text = f'Приветствую тебя, аналитик мужской и женский,\nэто приложение для обработки и виузализации SQL запросов.\nВведите ваш запрос в поле ниже и подтвердите его, нажав\nна левую кнопку. После завершения работы обязательно\nнажимите на правую кнопку для отсоединения от базы данных!', 
             font = ('Arial', 9,'italic'), 
             relief = RAISED, justify = CENTER).place(x = 201, y = 65, width = 400, height = 80),
             
             bg = 'azure2',
             activebackground = 'Darkseagreen1',
             )
btn.place(x = 277, y = 20)


text = Text(width=50, height=15, wrap=WORD)
text.place(x = 200, y = 180)



btn_2 = Button(window, text = 'Подтвердить запрос',
             font=('Arial', 12),
             command = SQL_request,
             bg = 'azure2',
             activebackground = 'PeachPuff2',
             )
btn_2.place(x = 200, y = 470)


btn_3 = Button(window, text = 'Закрыть соединение',
             font=('Arial', 12),
             command = conn.close,
             bg = 'azure2',
             activebackground = 'PeachPuff2',
             )
btn_3.place(x = 437, y = 470)



mainloop()